html{
   background-image: url(./images/tree-832079_1280.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   font-family: "Poppins", sans-serif;
}

.app{
   display: flex;
   flex-direction: column;
   min-height: 100%;
   width: 100%;
   background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.3));
   /* background-image: linear-gradient(to bottom, #ff0000, #0000ff, green); */
}

h1{
   text-align: center;
   text-transform: uppercase;
   padding-top: 20px;
   color: rgba(255, 255, 255, 0.5);
   font-size: 50px;
}

header{
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 20px 15px 15px;
   margin-bottom: 35px;
}

header input{
   width: 100%;
   max-width: 280px;
   padding: 10px 15px;
   border: none;
   outline: none;
   border-radius: 16px 0px 16px 0px;
   background-color: rgba(255, 255, 255, 0.5);
   color: #313131;
   font-size: 15px;
   font-weight: 300;
   transition: 0.3 ease-out;
}

header input:focus{
   background-color: rgba(255, 255, 255, 1);
}
header input:hover{
   background-color: rgba(255, 255, 255, 1);
}

.search-button{
   margin-left: 5px;
   color: #313131;
   border: none;
   outline: none;
   border-radius: 700px;
   background-color: rgba(255, 255, 255, 0.5);
   padding: 10px 15px;
}

.search-button:hover{
   background-color: rgba(255, 255, 255, 1);
}
main{
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   padding: 25px 25px 50px;
}
.location .city{
   color: #ffffff;
   font-size: 38px;
   font-weight: 600;
   margin-bottom: 5px;
}

.location .date{
   color: #ffffff;
   font-size: 25px;

}
.current .temp{
   color: #fff;
   font-size: 105px;
   font-weight: 900;
   text-shadow: 1px 4px rgba(0, 0, 0, 0.5);
}

.current .temp span{
   font-weight: 500;
}

.current .weather{
   color: #fff;
   font-size: 38px;
   font-weight: 600;
   text-shadow: 0px 2px rgba(0, 0, 0, 0.3);
   font-style:inherit;
}


footer{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   color: grey;
   
}
footer:hover{
 
}

footer .col{
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   align-items: flex-start;
   margin-bottom: 20px;
}
footer .col:hover{
   color: #101111;
}

footer .logo{
   margin-bottom: 30px;
}

footer h4{
   font-size: 14px;
   padding-bottom: 20px;
}

footer p{
   font-size: 13px;
   margin: 0 0 6px 0;
}

footer a{
   font-size: 13px;
   text-decoration: none;
   color:white;
   margin-bottom:10px;
}

footer .follow{
   margin-top: 20px;
}

footer .follow i{
   color: white;
   padding-right: 4px;
   cursor: pointer;
}

footer .follow i:hover,
footer a:hover{
   color: #088178;
}

footer .install .row img{
   border: 1px solid #088178;
   border-radius: 6px;
}

footer .install .row img:hover{
   cursor: pointer;
}

footer .install img{
   margin: 10px 0 15px 0;
}

footer .copyright{
   width: 100%;
   text-align: center;
   color: #ffffff;
  font-weight: bolder;
}